* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	background: #f1f1f1;
}

nav {
	text-transform: uppercase;
	height: 80px;
}
nav a {
	color: black;
	font-size: 20px;
}

.landing {
	background-image: url("../images/Rectangle\ 9\ \(3\).png");
	width: 100%;
}

.home-inner {
	background: url("../images/Rectangle\ 9\ \(3\).png") center center/cover;
	max-height: 100vh;
}

.contact__name {
	text-transform: uppercase;
	text-align: center;
	font-size: 3rem;
	font-weight: 300;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contact {
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		[formstart] minmax(25rem, 1fr) [formend]
	);
	grid-gap: 2rem;
	margin: 2rem;
}
.contact {
	grid-column: formstart 1 / formend 1;
}
.contact__form {
	display: grid;
}
.form__group {
	margin-bottom: 2rem;
	padding: 2rem;
}
.form__button {
	align-self: center;
	justify-self: center;
}
.contact__input {
	font-size: 1.5rem;
	font-family: inherit;
	color: inherit;
	padding: 1.5rem 2rem;
	border-radius: 2px;
	background-color: #fff;
	border: none;
	width: 90%;
	display: block;
	border: 1px solid orangered;
}
.images {
	grid-column: formstart 2 / formend 2;
	width: 90%;
	margin-top: 2rem;
}
.img {
	width: 100%;
}

.btn {
	border: none;
	border-radius: 5px;
	padding: 2px;
	font-size: 2rem;
	padding: 1.5rem 3rem;
	color: #fff;
	background-color: orangered;
}

.facilityCard {
	position: absolute;
	width: 100%;
	height: 600px;
	left: 0px;
	top: 0px;

	background: #fbfbfb;
}
.facilityHead,
.facilitySubFoot {
	font-family: Helvetica Now Text;
	font-style: normal;
	text-align: center;
	font-weight: normal;
	/* identical to box height */
	letter-spacing: 0.119952px;

	/* bLACK 2B2B2B */
	color: #2b2b2b;
}

.facilitySubFoot {
	font-size: 24px;
	line-height: 35px;
}

.facilityHead {
	font-size: 48px;
	line-height: 71px;
}

.facilitySubCardLeft {
	position: absolute;
	width: 350px;
	height: 390px;
	left: 120px;
	top: 161px;

	background: #ffffff;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
		0px 4px 8px rgba(0, 0, 0, 0.04);
}

.facilitySubCardCenter {
	position: absolute;
	width: 350px;
	height: 390px;
	left: 545px;
	top: 161px;

	background: #ffffff;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
		0px 4px 8px rgba(0, 0, 0, 0.04);
}

.facilitySubCardRight {
	position: absolute;
	width: 350px;
	height: 390px;
	left: 970px;
	top: 161px;

	background: #ffffff;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
		0px 4px 8px rgba(0, 0, 0, 0.04);
}

.facilityFoot {
	position: absolute;
	width: 220px;
	height: 70px;
	left: 610px;
	top: 611px;
	/* Primary color */
	background: #fc3c3c;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	color: white;
}

/* About us Section */

.AboutUs-landing {
	width: 100%;
	height: 400px;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("images/Rectangle 5.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.AboutUs-landing .about-us-txt {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

.noted {
	width: 90%;
	margin: 30px auto;
}
.noted .Royaltag {
	color: #fc3b3c;
}
.noted p {
	font-size: 15px;
	word-spacing: 2px;
}
.noted .longnote {
	margin-top: 30px;
}

.section2 {
	width: 90%;
	margin: 50px auto;
}
.section2 h1 {
	text-align: center;
	text-transform: capitalize;
	padding: 20px;
}
.section2 .grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	background: #fff;
}
.section2 img {
	width: 100%;
}

.section3 {
	width: 90%;
	margin: 20px auto;
}
.section3 h1 {
	text-align: center;
	padding: 30px 0;
}
.section3 .guess {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.section3 .guess .guess-box {
	padding: 20px;
	text-align: center;
	background: #fff;
}
.section3 .guess .guess-name {
	font-size: 22px;
	padding: 15px 0;
	color: #333;
}
.section3 .guess .note {
	color: #333;
	word-spacing: 1px;
	padding: 10px 0;
}
.section3 .guess a {
	text-decoration: none;
	font-size: 15px;
	color: #fc3b3c;
}
.section3 .guess .rate {
	margin: 20px 0 0 0;
	color: #fc3b3c;
}
